<launch>
    <node pkg="alpha_car" type="mgeo_pub.py" name="mgeo_pub"  />
    <node pkg="alpha_car" type="gpsimu_parser.py" name="gpsimu_parser" />
    <node pkg="alpha_car" type="advanced_purepursuit.py" name="advanced_purepursuit"  args="/local_path" output="screen" />
    <node pkg="alpha_car" type="tf_pub.py" name="tf"  />
    <node pkg="alpha_car" type="local_path_pub.py" name="local_path_pub" />

    <node pkg="alpha_car" type="fb_gps.py" name="fb_gps" />
    <!-- <node pkg="alpha_car" type="firebase.py" name="firebase" /> -->
    
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find ssafy_2)/rviz/kcity_rviz.rviz" />

</launch>